In [1]:
import numpy as np
import pandas as pd

In [5]:
m_r = pd.read_csv('m_r.csv')
p_r = pd.read_csv('p_r.csv')

In [6]:
m_cd = np.cumsum(m_r['DISTANCE_BACK'])
m_r['CUM_SUM_DIST'] = m_cd
m_r = m_r.sort_values(by=['ID_STOP'])

p_cd = np.cumsum(p_r['DISTANCE_BACK'])
p_r['CUM_SUM_DIST'] = p_cd
p_r = p_r.sort_values(by=['ID_STOP'])

In [7]:
m_r.head()

   STOP_NUMBER  ID_STOP  DISTANCE_BACK  CUM_SUM_DIST
3            9    14906            410          1740
4           10    14914            650          2390
5           11    14919            480          2870
6           12    14924            300          3170
7           13    14928            690          3860

In [59]:
p_r

    STOP_NUMBER  ID_STOP  DISTANCE_BACK  CUM_SUM_DIST
10           30    14985            380          5420
11           31    14988            410          5830
12           32    14992            380          6210
13           33    14995            550          6760
14           34    14998            430          7190
15           35    15001            400          7590
18           38    15006            160          8650
2            22    15032            660          1850
3            23    15042            380          2230
4            24    15045            440          2670
6            26    15052            330          3500
7            27    15055            490          3990
16           36    15070            710          8300
8            28    16787            610          4600
9            29    24735            440          5040
5            25    24994            500          3170
17           37    27084            190          8490
0            20    27168            610           610
1            21    27170            580          1190

In [39]:
m_p_dist = pd.read_csv('14985.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[10]['CUM_SUM_DIST'])
m_p_dist.head()

5420

    ID_STOP  M_P_STOPS_DIST  M_CSD
22    15660           115.0    930
21    15656           342.0    390
23    15675           455.0   1330
0     14906           771.0   1740
1     14914           943.0   2390

In [40]:
m_p_dist = pd.read_csv('14988.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[11]['CUM_SUM_DIST'])
m_p_dist.head()

5830

    ID_STOP  M_P_STOPS_DIST  M_CSD
21    15656            65.0    390
22    15660           487.0    930
23    15675           647.0   1330
0     14906           905.0   1740
1     14914          1258.0   2390

In [41]:
m_p_dist = pd.read_csv('14992.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[12]['CUM_SUM_DIST'])
m_p_dist.head()

6210

    ID_STOP  M_P_STOPS_DIST  M_CSD
21    15656           397.0    390
22    15660           792.0    930
23    15675           834.0   1330
0     14906          1011.0   1740
1     14914          1480.0   2390

In [42]:
m_p_dist = pd.read_csv('14995.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[13]['CUM_SUM_DIST'])
m_p_dist.head()

6760

    ID_STOP  M_P_STOPS_DIST  M_CSD
21    15656           922.0    390
23    15675          1177.0   1330
0     14906          1228.0   1740
22    15660          1262.0    930
1     14914          1803.0   2390

In [43]:
m_p_dist = pd.read_csv('14998.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[14]['CUM_SUM_DIST'])
m_p_dist.head()

7190

    ID_STOP  M_P_STOPS_DIST  M_CSD
21    15656          1326.0    390
0     14906          1501.0   1740
23    15675          1513.0   1330
22    15660          1646.0    930
1     14914          2105.0   2390

In [44]:
m_p_dist = pd.read_csv('15001.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[15]['CUM_SUM_DIST'])
m_p_dist.head()

7590

    ID_STOP  M_P_STOPS_DIST  M_CSD
0     14906          1566.0   1740
21    15656          1586.0    390
23    15675          1648.0   1330
22    15660          1848.0    930
1     14914          2181.0   2390

In [45]:
m_p_dist = pd.read_csv('15006.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[18]['CUM_SUM_DIST'])
m_p_dist.head()

8650

    ID_STOP  M_P_STOPS_DIST  M_CSD
0     14906          1585.0   1740
23    15675          1756.0   1330
21    15656          1868.0    390
22    15660          2034.0    930
1     14914          2175.0   2390

In [46]:
m_p_dist = pd.read_csv('15032.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[2]['CUM_SUM_DIST'])
m_p_dist.head()

1850

    ID_STOP  M_P_STOPS_DIST  M_CSD
30    27171            18.0   4420
5     14932           248.0   4150
4     14928           521.0   3860
29    27169           598.0   5170
3     14924           744.0   3170

In [47]:
m_p_dist = pd.read_csv('15042.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[3]['CUM_SUM_DIST'])
m_p_dist.head()

2230

    ID_STOP  M_P_STOPS_DIST  M_CSD
5     14932           110.0   4150
4     14928           169.0   3860
30    27171           353.0   4420
3     14924           521.0   3170
2     14919           755.0   2870

In [48]:
m_p_dist = pd.read_csv('15045.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[4]['CUM_SUM_DIST'])
m_p_dist.head()

2670

    ID_STOP  M_P_STOPS_DIST  M_CSD
4     14928           163.0   3860
3     14924           403.0   3170
5     14932           408.0   4150
30    27171           648.0   4420
2     14919           678.0   2870

In [49]:
m_p_dist = pd.read_csv('15052.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[6]['CUM_SUM_DIST'])
m_p_dist.head()

3500

    ID_STOP  M_P_STOPS_DIST  M_CSD
2     14919           133.0   2870
1     14914           315.0   2390
3     14924           406.0   3170
29    27169           839.0   5170
4     14928           891.0   3860

In [50]:
m_p_dist = pd.read_csv('15055.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[7]['CUM_SUM_DIST'])
m_p_dist.head()

3990

    ID_STOP  M_P_STOPS_DIST  M_CSD
1     14914           156.0   2390
0     14906           463.0   1740
23    15675           536.0   1330
2     14919           598.0   2870
22    15660           779.0    930

In [51]:
m_p_dist = pd.read_csv('15070.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[16]['CUM_SUM_DIST'])
m_p_dist.head()

8300

    ID_STOP  M_P_STOPS_DIST  M_CSD
0     14906          1552.0   1740
23    15675          1742.0   1330
21    15656          1899.0    390
22    15660          2037.0    930
1     14914          2130.0   2390

In [52]:
m_p_dist = pd.read_csv('16787.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[8]['CUM_SUM_DIST'])
m_p_dist.head()

4600

    ID_STOP  M_P_STOPS_DIST  M_CSD
0     14906            77.0   1740
23    15675           253.0   1330
22    15660           634.0    930
1     14914           646.0   2390
21    15656           838.0    390

In [53]:
m_p_dist = pd.read_csv('24735.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[9]['CUM_SUM_DIST'])
m_p_dist.head()

5040

    ID_STOP  M_P_STOPS_DIST  M_CSD
23    15675           171.0   1330
22    15660           215.0    930
0     14906           488.0   1740
21    15656           506.0    390
1     14914           736.0   2390

In [54]:
m_p_dist = pd.read_csv('24994.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[5]['CUM_SUM_DIST'])
m_p_dist.head()

3170

   ID_STOP  M_P_STOPS_DIST  M_CSD
3    14924            99.0   3170
2    14919           190.0   2870
4    14928           581.0   3860
1    14914           630.0   2390
5    14932           632.0   4150

In [55]:
m_p_dist = pd.read_csv('27084.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[17]['CUM_SUM_DIST'])
m_p_dist.head()

8490

    ID_STOP  M_P_STOPS_DIST  M_CSD
0     14906          1692.0   1740
23    15675          1873.0   1330
21    15656          1998.0    390
22    15660          2158.0    930
1     14914          2275.0   2390

In [56]:
m_p_dist = pd.read_csv('27168.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[0]['CUM_SUM_DIST'])
m_p_dist.head()

610

    ID_STOP  M_P_STOPS_DIST  M_CSD
29    27169           474.0   5170
30    27171           973.0   4420
5     14932          1185.0   4150
2     14919          1313.0   2870
1     14914          1330.0   2390

In [57]:
m_p_dist = pd.read_csv('27170.csv')

m_p_dist['M_CSD'] = m_r['CUM_SUM_DIST'].values

m_p_dist = m_p_dist.sort_values(by=['M_P_STOPS_DIST'])

print(p_r.loc[1]['CUM_SUM_DIST'])
m_p_dist.head()

1190

    ID_STOP  M_P_STOPS_DIST  M_CSD
29    27169            86.0   5170
30    27171           587.0   4420
5     14932           726.0   4150
2     14919           773.0   2870
3     14924           810.0   3170